<!-- <div class="container">
    <h3><u>Enter Character Details Below</u></h3>
    <input class="form-control" type="text" [(ngModel)]="character.height" placeholder="Enter Player Age">
    <input class="form-control" type="text" [(ngModel)]="character.age" placeholder="Enter Player City">
    <input class="form-control" type="text" [(ngModel)]="character.sex" placeholder="Enter Player Team Name">
    <input class="form-control" type="text" [(ngModel)]="character.name" placeholder="Enter Player City">
    <input class="form-control" type="text" [(ngModel)]="character.hairColor" placeholder="Enter Player City">
    <input class="form-control" type="text" [(ngModel)]="character.eyeColor" placeholder="Enter Player City">
    <input class="form-control" type="text" [(ngModel)]="character.race" placeholder="Enter Player City">
    <input class="form-control" type="text" [(ngModel)]="character.alignment" placeholder="Enter Player City">
    <input class="form-control" type="text" [(ngModel)]="character.profession" placeholder="Enter Player City">
    <input class="form-control" type="text" [(ngModel)]="character.nationality" placeholder="Enter Player City">
    <button class="btn btn-primary" type="button" (click)="addPlayer()">Add Player</button>
</div> -->